.container {
  width: 400px;
  background-color: white;
  position: relative;
}

.btn {
  background-color: RGB(1, 113, 232);
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.clicked {
  outline: RGB(147, 199, 254) solid 2px;
}

.btn:hover {
  cursor: pointer;
}

.btn-text {
  color: white;
}

.text-box {
  box-sizing: border-box;
  overflow: hidden;
  outline: 1px solid RGB(224, 224, 224);
  outline-offset: -1px;
  border-radius: 5px;
  max-height: 0;
  transition: all 1s ease;
}

.show {
  max-height: 1000px;
}

/* .text-box {
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid RGB(224, 224, 224);
  border-radius: 5px;
  transition: all 1s ease;
  padding: 5px;
  height: 0px;
  font-size: 0px;
} */